.card {
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
   background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
}

.card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.card button {
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #003f7f;
}