<div class="game-wrapper">

  <!-- INTRO SCREEN -->
  <div class="intro-card" *ngIf="cards.length === 0">
    <h1 class="title">🕵️ Imposter Game</h1>

    <p class="subtitle">
      How many players are joining?
    </p>

    <input
      type="number"
      [(ngModel)]="playerCount"
      min="3"
      max="10"
    />

    <button
      class="primary"
      (click)="generateCards()"
      [disabled]="playerCount < 3"
    >
      Generate Cards
    </button>
  </div>

  <!-- PLAYER CARDS -->
   <div class="game-header">
  <p class="tagline">
    One of you is lying… <span>can you find the imposter?</span>
  </p>
</div>

  <div class="cards-list" *ngIf="cards.length > 0">
    <div
      *ngFor="let card of cards; let i = index"
      class="player-card"
      [class.seen]="card.seen"
      (click)="canReveal(i) && revealCard(i)"
    >

      <!-- UNSEEN -->
      <div *ngIf="!card.revealed && !card.seen" class="card-back">
        Tap to Reveal
      </div>

      <!-- REVEALED -->
      <div *ngIf="card.revealed" class="card-front">
        <ng-container *ngIf="card.isImposter; else normal">
          <p class="imposter">You are the IMPOSTER</p>
          <p class="word">{{ card.word }}</p>
        </ng-container>

        <ng-template #normal>
          <p class="word">{{ card.word }}</p>
        </ng-template>

        <button
          class="secondary"
          (click)="hideCard(i); $event.stopPropagation()"
        >
          Hide
        </button>
      </div>

      <!-- SEEN -->
      <div *ngIf="card.seen && !card.revealed" class="seen-overlay">
        Seen
      </div>
    </div>
  </div>

</div>
